$font-awesome-path: '../fonts';
$icon-font-path: '../fonts/';

$font-family-sans-serif: 'Open Sans', sans-serif;

$body-bg: #fdfdfd;
$text-color: #222;

$brand-primary: #458ecc;
$brand-success: #76c279;
$brand-info:    #5bc0de;
$brand-warning: #faaf3e;
$brand-danger:  #d14d38;
$brand-dark:    #444;

$default-margin: 15px;

$pepper-sizes: (xs, sm, lg, xl);
$margin-types: (
    xs round($default-margin / 4),
    sm round($default-margin / 2),
    lg round($default-margin * 2),
    xl round($default-margin * 4)
);

$default-text-shadow-color:    #000;
$default-text-shadow-h-offset: 0px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur:     0px;

$circle-width: 0.08em;
$circle-width-hover: 0.04em;
$percentage-circle-font: #bbb;
$percentage-circle-font-info: #ddd;
$percentage-circle-bg: #ccc;
$percentage-circle-bg-inner: #f5f5f5;
$percentage-circle-font-dark: #777;
$percentage-circle-font-info-dark: #666;
$percentage-circle-bg-dark: #666;
$percentage-circle-bg-inner-dark: #555;

$default-footer-background:       $text-color;
$default-footer-font-color:       #fff;
$default-footer-link-color:       lighten($brand-primary, 20%);
$default-footer-link-color-hover: lighten($default-footer-link-color, 10%);