.btn-app {
  padding: 12px;
  min-width: 90px;

  span,
  i {
    display: block;
    font-size: 1.8em;
    line-height: 1em;
    margin: 0 0 2px;
    padding: 0;
  }

  &.btn-xs {
    padding: 5px;
    min-width: 65px;

    span,
    i {
      font-size: 1.5em;
    }
  }

  &.btn-sm {
    padding: 8px;
    min-width: 70px;
  }

  &.btn-lg {
    padding: 15px;
    min-width: 100px;

    span,
    i {
      font-size: 2em;
    }
  }

  &.btn-link {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
      text-decoration: none;
    }
  }
}