.footer {
  background: $default-footer-background;
  color: $default-footer-font-color;
  padding: 10px 0;

  a {
    color: $default-footer-link-color;

    &:hover {
      color: $default-footer-link-color-hover;
    }
  }
}

body.footer-bottom {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;

  .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}

body.footer-fixed {
  background: $body-bg;

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 900;
  }
}

.nav-footer {
  margin: 0;
  padding: 10px 0px;
  list-style: none;
  @include clear-fix;

  & > li {
    display: block;
    float: left;
    position: relative;

    & > a {
      color: $default-footer-font-color;
      display: block;
      padding: 0 20px;
      border-right: 1px solid $default-footer-font-color;

      &:hover {
        color: $default-footer-font-color;
      }
    }

    &.active {
      & > a {
        text-decoration: underline;
      }
    }

    &:last-child > a {
      border-right: 0;
    }

    & > ul {
      display: none;
    }
  }
}

@media (max-width: $screen-md) {
  body.footer-bottom {
    .wrap {
      .footer,
      .footer-push {
        position: static;
        height: auto !important;
      }
    }
  }

  .nav-footer {
    & > li {
      float: none;
      text-align: center;

      & > a {
        padding: 3px 0px;
        border-right: 0;
      }
    }
  }
}