html {
  font-size: $font-size-html-base;
  height: 100%;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: $font-size-html-sm;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: $font-size-html-md;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: $font-size-html-lg;
  }
}

.btn-scroll-top {
  @include opacity(.5);
  @include border-radius(5px);

  line-height: 20px;
  position: fixed;
  z-index: 50;
  right: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  background: #000;

  &:hover,
  &:focus {
    @include opacity(.8);

    outline: none;
  }
}
