html {
  height: 100%;
}

.btn-scroll-top {
  position: fixed;
  border: none;
  color: #fff;
  right: 10px;
  bottom: 10px;
  @include opacity(0.5);
  background: #000;
  @include border-radius(5px);
  line-height: 20px;
  height: 35px;
  width: 35px;
  text-align: center;
  cursor: pointer;
  z-index: 50;

  &:hover,
  &:focus {
    outline: none;
    @include opacity(0.8);
  }
}

@media (max-width: $screen-md-max) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}

@media (max-width: $screen-sm-max) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}

@media (max-width: $screen-xs-max) {
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-center {
    text-align: center;
  }
  .text-xs-justify {
    text-align: justify;
  }
}