.parallax {
  background: transparent no-repeat center center fixed;
  background-size: cover;
}

@include media-breakpoint-down(xl) {
  [data-equalizer-enable='xl'] [data-equalizer-element] {
    height: auto !important;
  }
}

@include media-breakpoint-down(lg) {
  [data-equalizer-enable='lg'] [data-equalizer-element] {
    height: auto !important;
  }
}

@include media-breakpoint-down(md) {
  [data-equalizer-enable='md'] [data-equalizer-element] {
    height: auto !important;
  }
}

@include media-breakpoint-down(sm) {
  [data-equalizer-enable='sm'] [data-equalizer-element] {
    height: auto !important;
  }
}
