$font-family-sans-serif: 'Open Sans', sans-serif !default;

$font-size-html-base: 15px;
$font-size-html-sm: $font-size-html-base;
$font-size-html-md: $font-size-html-sm;
$font-size-html-lg: $font-size-html-md;

$body-bg: #fdfdfd !default;
$body-color: #222 !default;

$blue: #458ecc !default;
$red: #d14d38 !default;
$yellow: #faaf3e !default;
$green: #76c279 !default;
$cyan: #5bc0de !default;

$default-margin: 15px !default;

$default-footer-background: $body-color !default;
$default-footer-font-color: #fff !default;
$default-footer-link-color: lighten($blue, 20%) !default;
$default-footer-link-color-hover: lighten($default-footer-link-color, 10%) !default;

//Vendor Styles
$fa-font-path: '../fonts/font-awesome/fonts' !default;

$slick-arrow-color: #111 !default;
$slick-font-path: '../fonts/slick-carousel/slick/fonts/' !default;
$slick-loader-path: '../img/vendor/slick-carousel/slick/' !default;
