$font-family-sans-serif: 'Open Sans', sans-serif !default;

$font-size-html-base: 15px !default;
$font-size-html-sm: $font-size-html-base !default;
$font-size-html-md: $font-size-html-sm !default;
$font-size-html-lg: $font-size-html-md !default;

$body-bg: #fdfdfd !default;
$body-color: #222 !default;

$default-margin: 15px !default;

$default-footer-background: #eee !default;
$default-footer-font-color: $body-color !default;
$default-footer-link-color: #0d6efd !default;
$default-footer-link-color-hover: lighten($default-footer-link-color, 10%) !default;

$cookie-banner-bg: #333 !default;
$cookie-banner-color: #fff !default;
$cookie-banner-link-color: $cookie-banner-color !default;
$cookie-banner-padding: 10px 15px !default;
$cookie-banner-element-padding: 10px !default;
$cookie-banner-z-index: 2000 !default;

//Vendor Styles
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts' !default;

$slick-arrow-color: #111 !default;
$slick-font-path: '~slick-carousel/slick/fonts/' !default;
$slick-loader-path: '~slick-carousel/slick/' !default;

$pswp__assets-path: '~photoswipe/dist/default-skin/' !default;
