$icon-font-path: "../fonts/bootstrap-sass/assets/fonts/bootstrap/" !default;
$fa-font-path: "../fonts/font-awesome/fonts" !default;
$slick-font-path: '../fonts/slick-carousel/slick/fonts';
$slick-loader-path: '../img/vendor/slick-carousel/slick';

$font-family-sans-serif: 'Open Sans', sans-serif;

$body-bg: #fdfdfd;
$text-color: #222;

$brand-primary: #458ecc;
$brand-success: #76c279;
$brand-info:    #5bc0de;
$brand-warning: #faaf3e;
$brand-danger:  #d14d38;
$brand-dark:    #444;

$default-margin: 15px;

$default-text-shadow-color:    #000;
$default-text-shadow-h-offset: 0px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur:     0px;

$default-footer-background:       $text-color;
$default-footer-font-color:       #fff;
$default-footer-link-color:       lighten($brand-primary, 20%);
$default-footer-link-color-hover: lighten($default-footer-link-color, 10%);


