#toast-container {
  & > div {
    @include opacity(.92);

    padding: 15px 30px 19px 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);

    &:hover {
      @include opacity(1);

      box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    }
  }

  & > .toast {
    background-image: none !important;
  }

  button.toast-close-button {
    position: absolute;
    top: 12px;
    right: 5px;
    padding: 0 5px;
    text-shadow: none;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  & > .toast-error {
    background-color: darken($danger, 5%);
  }

  & > .toast-warning {
    background-color: darken($warning, 5%);
  }

  & > .toast-success {
    background-color: darken($success, 5%);
  }

  & > .toast-info {
    background-color: darken($info, 5%);
  }
}
