@mixin clear-fix() {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }

  &:before {
    clear: both;
  }
}

@mixin border-radius($border-radius: $border-radius-base) {
    border-radius: $border-radius;
}

@mixin border-box() {
    @include box-sizing(border-box);
}

@mixin text-shadow-default($color: $default-text-shadow-color, $h-offset: $default-text-shadow-h-offset, $v-offset: $default-text-shadow-v-offset, $blur: $default-text-shadow-blur) {
    @include text-shadow($color $h-offset $v-offset $blur);
}

@mixin text-shadow-white($color: #fff, $h-offset: $default-text-shadow-h-offset, $v-offset: $default-text-shadow-v-offset, $blur: $default-text-shadow-blur) {
    @include text-shadow($color $h-offset $v-offset $blur);
}

@mixin inner-text-shadow-default ($color: $default-text-shadow-color, $h-offset: $default-text-shadow-h-offset, $v-offset: -1px, $blur: $default-text-shadow-blur) {
    @include text-shadow($color $h-offset $v-offset $blur);
}

@mixin inner-text-shadow-white ($color: #fff, $h-offset: $default-text-shadow-h-offset, $v-offset: -1px, $blur: $default-text-shadow-blur) {
    @include text-shadow($color $h-offset $v-offset $blur);
}

@mixin no-user-select() {
    @include user-select(none);
}

@mixin bordered($top-color: #EEE, $right-color: #EEE, $bottom-color: #EEE, $left-color: #EEE, $width: 1px, $type: solid) {
    border-top: $type $width $top-color;
    border-left: $type $width $left-color;
    border-right: $type $width $right-color;
    border-bottom: $type $width $bottom-color;
}

@mixin gradient-directional-free($deg: 45deg, $color-stops...) {
  background-repeat: repeat-x;
  background: nth(nth($color-stops, 1), 1);
  background-image: -webkit-linear-gradient($deg, $color-stops);
  background-image: -o-linear-gradient($deg, $color-stops);
  background-image: linear-gradient($deg, $color-stops);
}

@mixin caret($direction: 'bottom', $size: 5px, $color: #fff) {
  border: $size solid transparent;

  @if $direction == 'bottom' {
    border-bottom: 0;
    border-top: $size solid $color;
  } @else if $direction == 'top' {
    border-top: 0;
    border-bottom: $size solid $color;
  } @else if $direction == 'left' {
    border-left:0;
    border-right: $size solid $color;
  } @else if $direction == 'right' {
    border-right: 0;
    border-left: $size solid $color;
  }

  content: '';
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
}

@mixin reset-all {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}